<header class="header">
    <a href="/index.html" class="header__main-link">
        <div class="header__image"></div>
        <h1 class="header__title-text">Вселенная Метро</h1>
    </a>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="dropdown">
                <a href="/articles/books.html" class="dropdown__title">Книги</a>
                <ul class="dropdown__content">
                    <li><a href="/articles/book_metro_2033.html" class="dropdown__link">Метро 2033</a></li>
                    <li><a href="/articles/book_metro_2034.html" class="dropdown__link">Метро 2034</a></li>
                    <li><a href="/articles/book_metro_2035.html" class="dropdown__link">Метро 2035</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/articles/games.html" class="dropdown__title">Видеоигры</a>
                <ul class="dropdown__content">
                    <li><a href="/articles/game_metro_2033.html" class="dropdown__link">Metro 2033</a></li>
                    <li><a href="/articles/game_metro_last_light.html" class="dropdown__link">Metro: Last Light</a></li>
                    <li><a href="/articles/game_metro_exodus.html" class="dropdown__link">Metro Exodus</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>